@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,400;1,100;1,300;1,400&display=swap');


* {
    margin: 0;
    padding: 0;
}

html,
body,
#__nuxt,
#__layout {
    height: 100% !important;
    width: 100% !important;
    overflow: hidden;
}